.goal-status {
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 5px;
    display: inline-block;
}

    .goal-status.concluido {
        color: green;
    }

    .goal-status.ativo {
        color: orange;
    }

.progress-bar.static {
    height: 6px;
    background-color: #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

    .progress-bar.static .progress-fill {
        height: 100%;
        background-color: green;
        border-radius: 3px;
    }
